<section class="todoapp" ng-controller="myCtrl">
	<header class="header">
		<h1>todos</h1>
		<form ng-submit="add()">
			<input class="new-todo" ng-model="newTasks" placeholder="What needs to be done?" autofocus>
		</form>
	</header>
	<!-- This section should be hidden by default and shown when there are todos -->
	<section class="main">
		<input ng-click="toggleAll()" class="toggle-all" type="checkbox">
		<label for="toggle-all">Mark all as complete</label>
		<ul class="todo-list">
			<!-- These are here just to show the structure of the list items -->
			<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
			<li ng-repeat="item in items | filter:isComplete track by $index" ng-class="{'editing':isEditingId == item.id,'completed':item.completed}" autofocus>
				<div class="view">
					<input ng-model="item.completed" class="toggle" type="checkbox" checked>
					<label ng-dblclick="edit(item.id)">{{item.name}}</label>
					<button ng-click="del(item.id)" class="destroy"></button>
				</div>
				<form ng-submit="save()">
					<input class="edit" value="Create a TodoMVC template" ng-model="item.name">
				</form>
			</li>
		</ul>
	</section>
	<!-- This footer should hidden by default and shown when there are todos -->
	<footer class="footer">
		<!-- This should be `0 items left` by default -->
		<span class="todo-count"><strong>{{itemleft}}</strong> item left</span>
		<!-- Remove this if you don't implement routing -->
		<ul class="filters">
			<li>
				<a ng-class="{'selected':isComplete.completed==undefined}" ng-click="all()" href="#/">All</a>
			</li>
			<li>
				<a href="#/active" ng-class="{'selected':isComplete.completed==false}" ng-click="active()">Active</a>
			</li>
			<li>
				<a href="#/completed" ng-class="{'selected':isComplete.completed==true}" ng-click="completed()">Completed</a>
			</li>
		</ul>
		<!-- Hidden if no completed items are left ↓ -->
		<button class="clear-completed" ng-show="isShow()" ng-click="clearCompleted()">Clear completed</button>
	</footer>
</section>
<footer class="info">
	<p>Double-click to edit a todo</p>
	<!-- Remove the below line ↓ -->
	<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
	<!-- Change this out with your name and url ↓ -->
	<p>Created by <a href="http://todomvc.com">you</a></p>
	<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>